html {
    height: 100%;
}

body {
    height: 100%;
    background: #D1F0FF;
}

#wrap {
    min-height: 100%;
}

#content {
    overflow:auto;
	padding-bottom: 150px;
}

#footer {
    position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
}

#header {
    height:50px;
    background:#3366FF;
    border:1px solid #CCC;
    width:100%;
    top: 0px;
}

#header h3 {
    margin: 10px;
    color:#ffffff;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.site-link {
    width: 20%;
    margin-right: 10px;
}
