#main-block {
    background-color: #EDF9FF;
    text-align: center;
}

#main-block h1 {
    font-size: 100px;
}

#main-block h2 {
    font-size: 30px;
}

#main-block p {
    font-size: 24px;
}

#main-block img {
    width: 35%%;
    heigh: 35%;
}

.main-text {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 50px;
    width: 75%;
    text-align: left;
}
