{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock head %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="center" id="main-block">
    <h1>GBEER</h1><br>
    <div>
        <a id="ind-button" role="button" class="btn btn-primary btn-large" href="query">Individual Genome Analysis</a>
        <img src='/static/img/beer.png'>
        <a id="keg-button" role="button" class="btn btn-primary btn-large" href="keg-query">Genome Keg Analysis</a>
    </div>
    <h2>Gene Block Evolution, Evaluation, and Research</h2><br>
    <p>This is a description of GBEER</p>
</div>
{% endblock content %}
