{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock head %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="center" id="main-block">
    <h1>GBEER</h1><br>
    <div>
        <a id="ind-button" role="button" class="btn btn-primary btn-large" href="query">Individual Genome Analysis</a>
        <img src='/static/img/green-beer.png'>
        <a id="keg-button" role="button" class="btn btn-primary btn-large" href="keg-query">Genome Keg Analysis</a>
    </div>
    <h2>Gene Block Evolution, Evaluation, and Research</h2><br>
    <div class="main-text">
        <p>Gene blocks are proximal genes in the bacterial genome that are suspected of operating together. Known special cases of gene blocks are operons, where the genes are co-transcribed in a polycistronic mRNA. Several models have been proposed to explain observed patterns of gene block evolution. However, there is no universal method to describe gene block evolution, which is necessary for a comprehensive examination of the forces affecting this genomic feature. GBEER offers researchers a graphical method to examine how gene blocks evolve on a case-by-case basis.
    </div>
</p>
</div>
{% endblock content %}
