{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/query.css" />
    <script src="/static/js/query.js" type="text/javascript"></script>
{% endblock %}
{% block title %}Create Query{% endblock %}
{% block content %}
    <div class="center" id="main-block">
        <h2>Create Query</h2>
        <form class="form-horizontal" id="gbeerForm" action="" method="post" enctype="multipart/form-data">
            <div class="center" id="orgs">
                <h3>Select organisms for analysis</h3>
                <div class="orgBlock form-group center">
                    <select class="orgCombo form-control col-xs-6" name="orgList1" form="gbeerForm" data-index="1" id="orgCombo1">
                        {% for org in organisms %}
                            <option value="{{ org }}">{{ org }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="addOperon(this)" type="button" class="btn btn-success col-xs-1">+</button>
                </div>
            </div>
            <div class="center" id="ops">
                <h3>Select operons for analysis</h3>
                <div class="opBlock form-group center">
                    <select class="form-control opCombo col-xs-6" name="opList1" form="gbeerForm" data-index="1" id="opCombo1">
                        {% for op in operons %}
                            <option value="{{ op }}">{{ op }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-success col-xs-1">+</button>
                </div>
            </div>
            <br>
            <div class="form-group center">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </block>
{% endblock %}
